# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Local configuration
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
.navigation/
captures/
output.json

# Keystore files
*.jks
*.keystore

# External native build
.externalNativeBuild/
.cxx/

# Google Services
google-services.json

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Android Profiling
*.hprof
